@model AondeVamosAlmocar.ViewModels.VotarViewModel

@{
	ViewBag.Title = "Votar";
}

@using (Html.BeginForm())
{
<div class="jumbotron form-horizontal" style="height: 810px">

	<h2>Votação para @DateTime.Today.ToString("dddd, dd/MM/yyyy")</h2>
	<div class="form-group">
		@Html.Label("Votante ", new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownList("IdUsuario",
						new SelectList(Model.UsuariosViewModel.Usuarios, "Id", "Nome", Model.IdUsuario),
						"Selecione",
						htmlAttributes: new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.IdUsuario, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.Label("Restaurantes ", new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			<table class="table">
				@foreach (var item in Model.RestaurantesViewModel.Restaurantes)
				{
					<tr>
						<td>
							@Html.RadioButtonFor(m => m.IdRestaurante, item.Key) @Html.Label(item.Value)
						</td>
					</tr>
				}
			</table>
			@Html.ValidationMessageFor(model => model.IdRestaurante, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Votar" class="btn btn-default" />
			@if (@ViewBag.Error == true)
			{
				<label class="text-danger">@ViewBag.Result</label>
			}
			else
			{
				<label class="text-success">@ViewBag.Result</label>
			}

		</div>
	</div>
</div>
}

<div>
	@Html.ActionLink("Voltar", "Index", "Home")
</div>